body {
    background-color: rgb(71, 66, 66);
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    width:100%;
    overflow: hidden;
}
button{
    background-color: rgb(71, 66, 66);
    color:white;
    font-family: sans-serif;
    border:0;
    cursor:pointer;
}
input {
    display: flex;
    color: white;
    font-size: large;
    font-family: sans-serif;
    background-color: rgb(58, 55, 55);
    border-radius: 30px;
    margin:auto;
    width:45vw;
    height:5vh;
    border: 0.5vh solid rgb(65, 60, 60);
    outline:rgb(37, 36, 36) ;
    overflow: hidden;
}
input:hover, input ::selection{
    
    background-color: rgb(58, 55, 55);
    

}
section{
    display: block;
    margin-top: 23vh;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
.search, .lucky{
    margin-right: 1vw;
    margin-left: 1vw;
    background-color: rgb(77, 71, 71);
    height: 5vh;
    width: auto;
}
.search:hover, .lucky:hover {
    border: 1px solid rgb(48, 46, 46);
}
img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 35%;
    height: auto;
}
.mainbuttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5vh;
}
header{
    display: flex;
    padding-top: 1%;
}
.about, .store {
    margin-left: 1%;
}
.above-right{
    margin-left: auto;
    margin-right: 1%;
}
footer{
    background-color: rgb(49, 48, 48);
    display: flex;
    flex-direction: column;
}
.b1,.b2,.b3,.b4,.b5,.b6{
    background-color: rgb(49, 48, 48);
    
}
.b4,.b5,.b6{
    display: inline-block;
    position: relative;
    bottom: 2vh;
    justify-content: space-between;
    margin-right: 2.5vw;
}
.b1,.b2,.b3{
    display: inline-block;
    padding-top: 3vh ;
    justify-content: space-between;
    margin-left: 2vw;
}
.mid, footer{
    background-color: rgb(49, 48, 48);
    font-family: sans-serif;
    color: white;
}
.mid{
    width: 100%;
    border-bottom: 1px solid grey;   
}
.bottom-right {
    display:block ;
    margin-left: auto;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 13vh;
    max-height: 13vh;
    padding-bottom: 13px;
}
.india {
    padding-top: 0.2vh;
    margin-left: 5vh;
}
